body{
    background-color:peachpuff;
    z-index: -1;
    }

.container{
    z-index: -1;
    background-image: url("bg.png");
    border-radius: 35px;
    box-shadow: 20px 10px;
}

.gem2{
    margin-top: 85px;
    margin-left: 45px;   
}

.gem3{
    margin-top: 20px;   
}

.gem4{
    margin-top: 115px;  
}
h1{
    font-family: 'Monoton', cursive;
    font-size: 50px;
    text-shadow: 0 10px 25px palevioletred;
     
}
h2{
    background-color: peachpuff;
    border-radius: 25px;
    padding-left: 20px;
    box-shadow: 0 0 30px;
    font-family:  'Baloo Bhai', cursive;
    
}
#ts{
    padding: 10px 50px;
    background-color: lightcoral;
    border-radius: 15px;
    box-shadow:  10px 10px;
    font-family:  'Baloo Bhai', cursive;
    margin-bottom: 25px;
}
#ys{
    padding: 10px 50px;
    background-color: lightcoral;
    border-radius: 15px;
    box-shadow:  10px 10px;
    font-family:  'Baloo Bhai', cursive;
}
#wins{
    padding: 10px 50px;
    background-color: clear;
    border-radius: 50px;
    box-shadow:  10px 10px;
    font-family:  'Baloo Bhai', cursive;
}
#losses{
    padding: 10px 40px;
    background-color:clear;
    border-radius: 50px;
    box-shadow:  10px 10px;
    font-family:  'Baloo Bhai', cursive;
}
h4{
    padding: 0;
    margin: 0;
}
/*Tablet (Landscape)*/
@media only screen and (min-width:769px) and (max-width:1024px) {
    #wins{
        padding: 10px 50px;
        position: relative;
        left: 50px;
        background-color: clear;
        border-radius: 0px;
        box-shadow:  none;
        font-family:  'Baloo Bhai', cursive;
        font-size: 20px;
    }
    #losses{
        padding: 10px 40px;
        position: absolute;
        left: -150px;
        background-color:clear;
        border-radius: none;
        box-shadow:  none;
        font-family:  'Baloo Bhai', cursive;
    }
}
/*Tablet (Portrait)*/
@media only screen and (min-width:581px) and (max-width:768px) {
    #wins{
        left: 50px;
    }
    #losses{
        left: 100px
    }
}
/*Phone (Landscape)*/
@media only screen and (min-width:321px) and (max-width:580px) {
    .container{
        z-index: -1;
        background-image: url("bg.png");
        border-radius: 20px;
        box-shadow: 10px 5px;
    }
    .gem1{
        display: inline;
        position: relative;
        width: 50%;
    }
    
    .gem2{
        display: inline;
        position: absolute;
        top: -250px;
        left: 120px;  
    }
    
    .gem3{
        display: inline;
        position: absolute;
        top: -250px;
        left: 220px;  
    }
    
    .gem4{
        display: inline;
        position: absolute;
        top: -250px;
        left: 320px;
    }
    h1{
        font-family: 'Monoton', cursive;
        font-size: 30px;
        text-shadow: 0 10px 25px palevioletred;
         
    }
    #wins{
        display: inline;
        position: relative;
        padding: 0px;
        background-color: clear;
        border-radius: 10px;
        box-shadow: none;
        font-family:  'Baloo Bhai', cursive;
        font-size: 20px;
    }
    
    h4{
        font-size: 20px;
        color: black;
        
    }
    h2{
        font-size: 20px;
    }
    #losses{
        display: inline;
        position: absolute;
        top: -305px;
        left: 300px;
        padding: 0px;
        background-color:clear;
        border-radius: 10px;
        box-shadow: none;
        font-family:  'Baloo Bhai', cursive;
        font-size: 10px;
    }
    .col-sm-4{
        margin: 0px;
        padding: 0px;
    }
    #ts{
        position: absolute;
        padding:5px;
        background-color: none;
        border-radius: 15px;
        box-shadow:  none;
        font-family:  'Baloo Bhai', cursive;
        margin-bottom: 5px;
    }
    #ys{
        position: absolute;
        
        left: 170px;
        padding: 5px;
        background-color:clear;
        border-radius:none;
        box-shadow: none;
        font-family:  'Baloo Bhai', cursive;
    }
}
/*Typical Phone (Portrait)*/
@media only screen and (max-width:320px) {}